testrecorder/.idea/
testrecorder/media/
__pycache__/
*.pyc
testrecorder/file_app/credentials.json
testrecorder/youtube/client_secret.json
testrecorder/youtube/credentials.json
testrecorder/youtube/credentials-old.json
