{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="form-wrapper">
  <div class="form-container">

    {% if process == "connect" %}
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
    
    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h2>Sign In Via</h2>
    {% comment %} <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1> {% endcomment %}
    
    {% comment %} <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p> {% endcomment %}
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="login-btn"><img src="{% static 'images/developed-with-youtube-sentence-case-light.png' %}" alt=""></button>
    </form>
  </div>
</div>
{% endblock %}
