<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/camera_recording.js"></script>
    <title>Camera Recording Example</title>
    <style>
        #video-preview {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <h1>Camera Recording Example</h1>
    <video id="video-preview" autoplay></video>
    <button id="start-btn" onclick="startRecording()">Start Recording</button>
    <button id="stop-btn" onclick=" stopRecording()">Stop Recording</button>
</body>

</html>