{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>

<body>

    <!-- ====================== Button trigger modal ===================================== -->

    {% if user.is_authenticated %}
    <div class="main-content-btns">
        <div class="create-playlist-btn tooltip-container">
            <button id="create-playlist" onclick="showCreatingNewPlaylistModal()">
                <i class="fas fa-save"></i>
            </button>
            <span class="tooltip-text">Create new Playlist</span>

        </div>
        <div class="record-btn tooltip-container">
            <button id="start" onClick="validateAll()">

                <i class="fas fa-record-vinyl"></i>
            </button>
            <span class="tooltip-text">Start Recording</span>
        </div>
        <div class="stop-btn tooltip-container" style="display:none">
            <button id="stop" onClick="stopRecording()">
                <i class="fas fa-stop-circle"></i>
            </button>
            <span class="tooltip-text">Stop Recording</span>
        </div>
        <div class="library-btn tooltip-container">
            <a href="{% url 'library' %}">
                <button id="library">
                    <i class="fas fa-folder"></i>
                </button>
            </a>
            <span class="tooltip-text">Library</span>
        </div>
        <div class="share-record-btn tooltip-container" style="display:none">
            <button id="share_records" onClick="shareLinkModal()">
                <i class="fas fa-share-alt"></i>
            </button>
            <span class="tooltip-text">Share Video</span>
        </div>
        <div class="playback-btn tooltip-container" id="playback-video-button" style="display:none;">
            <button onClick='previewVideo()'>
                <i class="fab fa-youtube"></i>
            </button>
            <span class="tooltip-text">Replay recorded video</span>
        </div>
    </div>
    </div>
    {% else %}
    <div class="main-content-btns">
        <div class="create-playlist-btn tooltip-container">
            <a href="{% provider_login_url 'google' %}?next=/"><i class="fas fa-save"></i></a>
            <span class="tooltip-text">Login First</span>
        </div>
        <div class="record-btn tooltip-container">
            <a href="{% provider_login_url 'google' %}?next=/"><i class="fas fa-record-vinyl"></i></a>
            <span class="tooltip-text">Login First</span>
        </div>
    </div>
    {% endif %}
    </div>
    </div>
</body>

</html>