  <!-- footer -->
  <footer>
    <div class="footer">
      <a href=""><div class="footer-nav-icon">
          <i class="fas fa-info-circle"></i>
          <p>Info</p>
        </div></a>
      <a href=""><div class="footer-nav-icon">
          <i class="fas fa-message"></i>
          <p>Chat</p>
        </div></a>
      <a href=""><div class="footer-nav-icon">
          <i class="fas fa-television"></i>
          <p>Updates</p>
        </div></a>
      <a href=""><div class="footer-nav-icon">
          <i class="fas fa-envelope"></i>
          <p>Mail Me</p>
        </div></a>
      <a href=""><div class="footer-nav-icon footer-video-icon active">
          <i class="fas fa-video"></i>
          <p class="plus">+</p>
          <p>My Story</p>
        </div></a>
    </div>
    <!-- end lower footer -->
  </footer>
  <!-- end footer -->