{% load static %}
<header>
  <nav id="navigation-bar" class="upper-nav">
    <div class="upper-nav">
      <a href="https://uxlive.org">
        <div class="upper-nav-icon active">
          <i class="fas fa-home"></i>
        </div>
      </a>
      <a href="https://uxlive.org/privacy-policy">
        <div class="upper-nav-icon active">
          <i class="fa-solid fa-shield-alt"></i>
        </div>
      </a>
      <a href="#">
        <div class="upper-nav-icon">
          <i class="fas fa-cog"></i>
        </div>
      </a>
      <a href="{% url 'about' %}">
        <div class="upper-nav-icon dowell-logo">
          <img src="{% static 'images/favicon.jpg' %}" alt="">
        </div>
      </a>
      {% if user.is_authenticated %}
      <div class="user-icon">
        <i class="fas fa-user-circle" style="font-size: 50px;"></i>
      </div>
      {% endif %}
    </div>
    <a href="https://uxlive.org" class="mobile">
      <div class="upper-nav-icon active">
        <i class="fas fa-home" style="font-size:35px; color:  #c1baba;"></i>
      </div>
    </a>
    <div id="menu-icon" class="hide-desktop mobile">
      <i class="fas fa-bars menu-icon"></i>
    </div>
  </nav>

  <!-- ========================== -->
  <div class="mobile-menu">
    <a href="https://uxlive.org/privacy-policy" class="mobile-menu-item"><i style="font-size:30px; margin-right: 50px;"
        class='fas'>&#xf3ed;</i> Privacy Policy</a>
    <a href="#" class="mobile-menu-item"><i style="font-size:30px; margin-right: 50px;"
        class="fa">&#xf013;</i>Settings</a>
    <a href="{% url 'about' %}" class="mobile-menu-item"><i style="font-size:30px; margin-right: 50px;"
        class="fa">&#xf05a;</i>About</a>
    <hr>
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <p class="mobile-menu-item miniscreen-username" id="username"><i class="fas fa-user-circle" style="font-size:30px; margin-right: 50px;"></i>{{ user.username }}</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="mobile-menu-item logout-disable miniscreen-log-in-out" style="font-size:20px;">Logout</a>
    {% else %}
    <a href="{% provider_login_url 'google' %}?next=/" class="mobile-menu-item miniscreen-log-in-out" style="font-size:20px;">Login with Google/Select
      Channel</a>
      <div style="color:red;" id="logout-error"></div>
    {% endif %}
  </div>

  
  <!-- lower nav -->
  <div class="lower-nav">
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <div class="authenticated-user">
      <div class="lower-nav-item">
        <input type="text" name="" id="selectChannel" value="Channel Loading..." disabled>
        <!-- <div class="lower-nav-label">Channel</div> -->
        <div style="color:red;" id="channelname-error"></div>
      </div>
      <!-- end single select -->
      <div class="story-name lower-nav-item">
        <input type="text" name="" id="test-name" placeholder="Title">
        <div class="lower-nav-label"></div>
        <div style="color:red;" id="test-name-error"></div>
      </div>
      <div class="lower-nav-item">
        <!-- single select -->
        <select name="playlist" class="selectPlaylist search-playlist" id="selectPlaylist">
          <option value=""></option>
        </select>
        <div class="lower-nav-label"></div>
        <div style="color:red;" id="playlist-error"></div>
        <!-- end single select -->
      </div>
    </div>
    
    {% else %}
    <div class="story-name lower-nav-item">
      <a style="text-decoration: none;" href="{% provider_login_url 'google' %}?next=/">Login with Google/Select
        Channel</a>
    </div>
    {% endif %}
  </div>
</header>