{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block title %}
<title>Live UX Storyboard</title>
{% endblock title %}


{% block body %}
<!-- lower nav -->
    <div class="lower-nav">
        <!-- single select -->
        <div class="">
            <!--<select name="channel" id="selectChannel" onChange="getSelectedChannelName(this)">
                <option value="">Select Channel</option>
              </select>-->
            <select name="channel" id="selectChannel">
                <option value="">Select Channel</option>
              </select>
            <div style="color:red;" id="channelname-error"></div>
        </div>
        <!-- end single select -->
        <!-- single select -->
          <!--<select name="playlist" class="selectPlaylist" onChange="getSelectedPlaylistName(this)">
            <option value="">Select Playlist</option>
          </select>-->
        <!-- end single select -->
        <!-- Story Name -->
        <div class="story-name">
          <input type="text" name="" id="test-name" placeholder="Video Title">
          <div style="color:red;" id="test-name-error"></div>
        </div> 
        <!-- Story Name -->
        <!-- user Name -->
        <div class="story-name">
          <input type="text" name="" id="username" placeholder="User">
          <div style="color:red;" id="username-error"></div>
        </div> 
        <!-- user Name -->
      </div>
      <!-- end lower nav -->
<!-- Main container -->
<div class="contain">

<main class="main-contents">
    <!--display video title-->
    <div class="video-title" style="text-align: center; text-transform: capitalize;"></div>
        <!-- Video component -->
        <div class="video-component">
        <video id="video" autoplay muted></video>
        </div>
        <!-- Settings and controls -->
                <div class="main-content-check-boxes">
        <div class="setting-icon">
            <input type="checkbox" name="webcam" id="webcam-recording">
            <label for="webcam-recording"><i class="fas fa-camera"></i><p>Webcam</p></label>
        </div>
        <div class="setting-icon">
            <input type="checkbox" name="screen" id="screen-recording" checked>
            <label for="screen-recording"><i class="fas fa-desktop"></i><p>Screen</p></label>
        </div>
        <div class="setting-icon">
            <input type="checkbox" name="audio" id="audio-settings" checked>
            <label for="audio-settings"><i class="fas fa-microphone-lines"></i><p>Audio</p></label>
        </div>
        <div class="setting-icon">
            <input type="checkbox" name="public" id="public-videos">
            <label for="public-videos"><i class="fas fa-globe"></i><p>Public</p></label>
        </div>
        </div>
                <div class="input-start-record-btn">
        <!-- main content inputs -->
        <div class="main-content-input">
            <form>
            <input type="text" name="" id="new-playlist-tit" placeholder="Play List Title">
            {% comment %} <input type="text" name="" id="new-playlist-title" placeholder="Play List Title"> {% endcomment %}
            <div style="color:red;" id="new-playlist-title-error"></div>
            </form>
        </div>
        <div class="main-content-btns">
            <div class="create-playlist-btn tooltip-container">
                {% comment %} <button id="create-playlist" onClick="handleCreatePlaylistRequest()">
                    <i class="fas fa-save"></i>
                </button> {% endcomment %}
                <button id="create-playlist" onClick="showCreatingNewPlaylistModal()">
                    <i class="fas fa-save"></i>
                </button>
                <span class="tooltip-text">Create Play List</span>

            </div>
            <div class="record-btn tooltip-container">
                <button id="start" onClick="validateModal()">
                    <i class="fas fa-record-vinyl"></i>
                </button>
                <!--<button id="start" onClick="showTestDetailsModal()">
                    <i class="fas fa-record-vinyl"></i>
                </button>-->
                <span class="tooltip-text">Start Recording</span>
            </div>
            <div class="stop-btn tooltip-container" style="display:none">
                <button id="stop" onClick="showGetTaskIdFromUserModal()">
                    <i class="fas fa-stop-circle"></i>
                </button>
                <span class="tooltip-text">Stop Recording</span>
            </div>
            <div class="share-record-btn tooltip-container" style="display:none">
                <button id="share_records" onClick="shareLinkModal()">
                    <i class="fas fa-share-alt"></i>
                </button>
                <span class="tooltip-text">Share Video</span>
            </div>
            <div class="add-channel-btn tooltip-container">
                <button id="view_records" onClick="showAddChannelModal()">
                    <i class="fab fa-youtube"></i>
                </button>
                <span class="tooltip-text" >Add Channel</span>
            </div>
        </div>
        </div>
    </main>

    <!-- Status bar -->
<div class="status-bar">
    <div id="app-status">STATUS: Waiting to Record.</div>
</div>

    <!-- Test Details Modal Deleted -->
    
    <!-- Share youtube link Modal -->
    <div class="modal" id="share-link-modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share Video on</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        id="close-share-link-modal"></button>
                </div>
                <div class="modal-body modal-link">
                    <a href="." class="facebook" target="blank"><i class="fab fa-facebook" onClick="shareToFacebook()"></i></a>
                    <a href="." class="twitter" target="blank"><i class="fab fa-twitter" onClick="shareToTwitter()"></i></a>
                    <a href="." class="linkedin" target="blank"><i class="fab fa-linkedin" onClick="shareToLinkedin()"></i></a>
                    <a href="." class="envelope" target="blank"><i class="fas fa-envelope" onClick="shareToEmail()"></i></a>
                    <a href="." class="whatsapp" target="blank"><i class="fab fa-whatsapp" onClick="shareToWhatsapp()"></i></a>
                    <button class="copylink" onClick="copyLink()"><i class="fas fa-link"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- User Settings Modal -->
    <div class="modal" id="user-settings-modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        id="close-user-settings-modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label required">User ClickUp Email address</label>
                            <input type="email" class="form-control" id="userClickupEmail">
                            <p style="color:red;" id="userEmailError"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="saveClickupUserEmail()">Save</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Test files upload in progress modal-->
    <div class="modal" id="uploadInProgress" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">File Upload In Progress</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Test information upload in progress, please wait.
                    </p>
                    <div class="progress mt-2 mb-2" style="height: 20px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"
                            id="uploadProgressBar">0%</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="btnCloseUploadigModal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Test files upload complete modal-->
    <div class="modal" id="uploadComplete" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">File Upload Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 2rem; color: rgb(0, 255, 0);">
                        File upload Complete!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Creating broadcast in progress-->
    <div class="modal" id="creatingBroadcastModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setting up recording</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="btnCloseCreatingBroadcastModal" hidden></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Test Files upload failed modal -->
    <div class="modal" id="uploadFailed" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">File Upload Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 2rem; color: rgb(255, 0, 0);">
                        <i class="bi-x"></i>File upload Failed!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="retryTestFilesUpload()">Retry</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="btnCloseUploadFailedModal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error occurred modal -->
    <div class="modal" id="errorOccurred" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                        <i class="bi-x"></i>An error has occurred, please do the following.
                    </p>
                    <p>
                        1. Close this modal.
                    </p>
                    <p>
                        2. Check your internet connection.
                    </p>
                    <p>
                        3. Refresh the page on your browser.
                    </p>
                    <p>
                        4. Start the recording process again.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="btnCloseErrorModal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Task Error occurred modal -->
    <div class="modal" id="taskErrorOccurred" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Clickup Task Error Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="btnCloseClickupErrorModal"></button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                        <i class="bi-x"></i>An error has occurred while processing clickup task, please do the
                        following:
                    </p>
                    <ol>
                        <li>Try checking if there is something wrong with the clickup task that has the provided id.
                        </li>
                        <li>Try re-entering or changing the clickup task id below and click retry.</li>
                        <li>
                            If you wish to save the recording data without clickup notes, click on the
                            Save Without Notes button.
                        </li>
                    </ol>
                    <!--<p>
                        1. Try checking if there is something wrong with the clickup task.
                    </p>
                    <p>
                        2. Try re-entering or changing the clickup task id below and click retry.
                    </p> -->
                    <div class="mb-3">
                        <label class="form-label required">New Clickup Task ID</label>
                        <input type="text" class="form-control" id="clickup-task-id-retry">
                        <p style="color:red;" id="clickup-task-id-retry-error"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="replaceClickupTaskID()">Retry</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseErrorModal"
                        onClick="uploadWithoutClickupNotes()">
                        Save Without Notes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Get clickup task id from user -->
<div class="modal" id="getTaskIdFromUserModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clickup Task ID</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btnCloseGetTaskIdFromUserModal"></button>
            </div>
            <div class="modal-body">
                <!--<p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                        <i class="bi-x"></i>An error has occurred while processing clickup task, please do the
                        following:
                    </p>
                    <p>
                        1. Try checking if there is something wrong with the clickup task.
                    </p>
                    <p>
                        2. Try re-entering or changing the clickup task id below and click retry.
                    </p>-->
                <p>
                    Please enter your clickup task ids separated by a comma if you have more than one.
                </p>
                <div class="mb-3">
                    <label class="form-label required">Enter Clickup Task ID</label>
                    <input type="text" class="form-control" id="clickupTaskIdFromUser"
                        placeholder="370382A,33k9h43B,33k9h43D">
                    <p style="color:red;" id="clickupTaskIdFromUserError"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="saveTaskIDFromUser()">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseErrorModal"
                    onClick="keyLogFileCheck()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Network Error occurred modal -->
<div class="modal" id="networkErrorOccurred" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Network Error Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="close-network-error-occurred-modal"></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                    <i class="bi-x"></i>Recording stopped due to network error, please do the following.
                </p>
                <p>
                    1. Close this modal.
                </p>
                <p>
                    2. Check your internet connection.
                </p>
                <p>
                    3. Refresh the page on your browser.
                </p>
                <p>
                    4. Start the recording process again.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="btnCloseErrorModal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Key log file upload modal-->
<div class="modal" id="keyLogFileUploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Files Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeFileModal2"
                    hidden></button>
            </div>
            <div class="modal-body">
                <p>
                    Please upload the file generated by selenium ide.
                </p>
                <div class="mt-2 mb-4">
                    <input type="file" id="inpt-test-file" />
                </div>
                <p>
                    Please upload the file generated by Beanote/Clickup.
                </p>
                <div class="mt-2 mb-2">
                    <input type="file" id="inpt-beanote-file" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUploadKeyLogFile"
                    onclick="uploadSeleniumIdeFile()">Upload</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="btnCloseKeyLogFileUploadModal" onClick="stopRecording()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Beanote file upload modal-->
<div class="modal" id="beanoteFileUploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header green-header">
                <h5 class="modal-title">Beanote File Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeBeanoteFileModal" hidden></button>
            </div>
            <div class="modal-body">
                <p>
                    Please upload the file generated by beanote.
                </p>
                <div class="mt-2 mb-2">
                    <input type="file" id="inpt-beanote-file-old" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUploadBeanoteFile"
                    onclick="getBeanoteFile()">Upload</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCloseBeanoteFileUploadModal"
                    onclick="keyLogFileCheck()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Selenium IDE installation request modal-->
<div class="modal" id="seleniumIDEModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Browser Extensions Installation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeSeleniumIDEModal2" hidden></button>
            </div>
            <div class="modal-body">
                <p>
                    Please click on the links below to install the required browser extensions. If you already
                    installed the extensions, check the checkbox and click close button.
                </p>
                <p>
                    <a href="https://chrome.google.com/webstore/detail/selenium-ide/mooikfkahbdckldjjndioackbalphokd?authuser=1&gclid=CjwKCAiA_omPBhBBEiwAcg7smRFkTf9gIMuqU8EpOoGhMahx1N6boXa65-NkPtbqXIW9R8L7EKgIJxoCdx4QAvD_BwE"
                        class="link-primary" target="_blank">1. Selenium IDE</a>
                </p>
                <p>
                    <a href="https://chrome.google.com/webstore/detail/beanote-note-taking-on-we/nikccehomlnjkmgmhnieecolhgdafajb?utm_source=googleads&utm_medium=adgroup5&utm_campaign=adgroup5&utm_id=adgroup5&gclid=Cj0KCQiAraSPBhDuARIsAM3Js4pcqeIr4n3_Sg0LGNSTBuF6-kowPAQS-ylwIq72l_Tf45dNA78qQbgaAjRWEALw_wcB"
                        class="link-primary" target="_blank">2. Beanote - Note Taking on Web Pages</a>
                </p>
                <p>
                    <a href="https://chrome.google.com/webstore/detail/clickup-tasks-screenshots/pliibjocnfmkagafnbkfcimonlnlpghj?utm_source=googleads&utm_medium=adgroup5&utm_campaign=adgroup5&utm_id=adgroup5&gclid=CjwKCAjwu_mSBhAYEiwA5BBmf7t5uvalyZzxG84tZkrjQrYSvqJroi7y_jVvYAGsTVD2w531A9Z93BoC08YQAvD_BwE"
                        class="link-primary" target="_blank">3. Notepad by ClickUp</a>
                </p>
                <div class="mt-3 mb-2">
                    <input type="checkbox" id="dontShowModalAgain" name="dontShow">
                    <label for="dontShow">Don't show me this again.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSeleniumIDEModalOkay" data-bs-dismiss="modal"
                    onclick="storeSeleniumIDEInstallModalSettings()">
                    Okay
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseSeleniumIDEModal"
                    onclick="storeSeleniumIDEInstallModalSettings()">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- YouTube Playlist Selection Modal -->
<div class="modal" id="playlist-selection-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">YouTube Playlist Selection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-playlist-selection-modal" hidden></button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onClick="closeYoutubePlaylistSelectionModal()"></button>
            </div>
            <!-- Shown when playlists are received -->
            <div id="received-playlists">
                <div class="modal-body">
                    <p>
                        <strong>Please select a playlist</strong>
                    </p>
                    <div id="radio-buttons-container" class="form-check overflow-auto">
                        <table id="playlist-table" class="display" width="100%"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="sendRTMPURL()"
                        id="cancel-playlist-selection">
                        Use Default Playlist
                    </button>
                    <button type="button" class="btn btn-success" onClick="playlistSelected()">Okay</button>

                </div>
            </div>
            <!-- Shown initially when getting the playlists -->
            <div id="loading-playlists">
                <div class="modal-body">
                    <p style="font-size: 1rem; text-align: center; color: rgb(0, 0, 0);">
                        <i class="bi-x"></i>Loading Playlists...
                    </p>
                </div>
            </div>
            <!-- Shown when failure to receive playlists occurs -->
            <div id="failed-to-receive-playlists">
                <div class="modal-body">
                    <p style="font-size: 1rem; color: rgb(255, 0, 0);">
                        <i class="bi-x"></i>Failed to get playlists for the selected channel!
                    </p>
                    <ol>
                        <li>
                            <p>
                                Make sure the channel is valid.
                            </p>
                        </li>
                        <li>
                            <p>
                                Click on the retry button to try fetching the playlists again.
                            </p>
                        </li>
                        <li>
                            <p>
                                Click on the Use Default Playlist button to proceed without selecting a playlist.
                            </p>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="fetchPlaylists()">Retry</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closeYoutubePlaylistSelectionModal();"
                        id="cancel-playlists-fetching">
                        Back
                    </button>
                    <!--<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="showSelectYoutubeChannelModal();"
                        id="cancel-playlists-fetching">
                        Back
                    </button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Playlist insert video Error occurred modal -->
<div class="modal" id="playlist-insert-video-error-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist Insert Video Error Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btnClosePlaylistInsertErrorModal" hidden></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                    <i class="bi-x"></i>An error has occurred while inserting the video into the selected playlist,
                    please do the
                    following:
                </p>
                <ol>
                    <li>Click on the retry button to try again.</li>
                    <li>Click on the Use Default Playlist button to proceed without inserting the video into a playlist.
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onClick="insertVideoIntoPlaylist()">Retry</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCancelPlaylistInsert"
                    onClick="sendRTMPURL()">
                    Use Default Playlist
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm playlist selection modal -->
<div class="modal" id="confirm-playlist-selection-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Playlist Selection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btn-close-confirm-playlist-selection-modal" hidden></button>
            </div>
            <div class="modal-body">
                <p id="playlist-confirmation-message">
                    Are you sure you want to use the playlist
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="showSelectYoutubePlaylistModal()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="insertVideoIntoPlaylist()"
                    data-bs-dismiss="modal">Start Live</button>
            </div>
        </div>
    </div>
</div>

<!-- Ojophilip -->
<!-- New Playlist Details Modal -->
<div class="modal" id="new-playlist-details-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: cen;">Create New Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    id="close-new-playlist-details-modal"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form id="create-playlist">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label plst required"><strong>Playlist title</strong></label>
                            <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="p_title-error"></p>
                            {{ add_playlist.playlist_title }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label plst required"><strong>Select channel</strong></label>
                            <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="p_channel-error"></p>
                            {{ add_playlist.channel }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label plst required"><strong>Description</strong></label>
                            <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="p_description-error"></p>
                            {{ add_playlist.playlist_description }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label plst required"><strong>Select privacy status</strong></label>
                            <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="p_privacy-error"></p>
                            {{ add_playlist.privacy_status }}                       
                        </div>
                        
                        <div class="modal-footer">
                            <input type="submit" style="display: none;" class="btn btn-success" id="playlist-submit" value="Submit">
                            <button type="submit" class="btn btn-success" id="create-playlist-btn" >Add</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>              
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Playlist created modal-->
<div class="modal" id="playlist-created-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist Created</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="close-playlist-created-modal"></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 2rem; color: rgb(0, 255, 0);">
                    The New Playlist was Created!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

<!-- Playlist creation Error occurred modal -->
<div class="modal" id="playlist-creation-error-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist Creation Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="close-playlist-creation-error-modal" hidden></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                    <i class="bi-x"></i>An error has occurred while creating the new playlist, please do the following:
                </p>
                <ol>
                    <li>Close this modal.</li>
                    <li>Try to create the playlist again.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="showCreatingNewPlaylistModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Playlist already exists modal -->
<div class="modal" id="playlist-already-exists-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist Already Exists Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="close-playlist-already-exists-modal" hidden></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 1.25rem; color: rgb(255, 0, 0);">
                    <i class="bi-x"></i>A playlist with the title you provided already exists, please do the following:
                </p>
                <ol>
                    <li>Close this modal.</li>
                    <li>Try to create the playlist again, with a different title.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="showCreatingNewPlaylistModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Creating playlist in progress-->
<div class="modal" id="creatingPlaylistModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Creating Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btnCloseCreatingPlaylistModal" hidden></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================= -->
<!-- Add Channel Modal-->
<div class="modal" id="add-channel-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Channel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    id="close-add-channel-modal"></button>
            </div>
            <div class="modal-body">
                <form id="add-channel">
                    {% csrf_token %}
                    <p style="font-size: 1em; width: 100%; text-align: center; font-style: italic; font-weight: 400;" id="add-status"></p>
                    <div class="mb-3">
                        <label class="form-label required"><strong>Channel ID</strong></label>
                        <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="id-error"></p>
                        {{ form.channel_id }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label required"><strong>Channel Title</strong></label>
                        <p style="color: rgb(161, 76, 76); font-size: smaller; font-style: italic; font-weight: 400;" id="title-error"></p>
                        {{ form.channel_title }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" style="display: none;" class="btn btn-success" id="submit" value="Submit">
                        <button type="submit" class="btn btn-success" id="add-channel-btn" >Add</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</div>
<!-- ====================================================================== -->
<!-- Select Channel Modal -->
<!-- YouTube channels Selection Modal  -->
<!-- deleted deleted -->



<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- Video Stream Merger JavaScript -->
<script src="{% static '/js/dist/video-stream-merger.js' %}"></script>

<!-- Application JavaScript -->
<script src="{% static '/js/index.js' %}"></script>

{% endblock body %}