{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  body {
    background-color: #dfdfdf;
  }

  .lower-nav h1 {
    color: white;
  }
</style>
{% endblock css %}

{% block title %}
<title>Library</title>
{% endblock title %}

{% block index_js %}
{% if not index_js_loaded %}
<script src="{% static '/js/index.js' %}"></script>
{% with index_js_loaded=True %}
{% endwith %}
{% endif %}
{% endblock %}

{% block body %}
<div class="section" style="margin-top:3rem;">
  <div class="playlist-videos">
    <div class="playlist">
      <h4>Select Playlist</h4>
        <div id="playlist-select">
          <select id="userLibraryPlaylist" class="form-control"></select>
        </div>
    </div>
    <div class="video-list">
      <h4>All Videos</h4>
        <div id="video-select">
          <select id="all_video" class="form-control"></select>
        </div>
    </div>
  </div>
  <div class="video-player">
    <h4>Player</h4>
        <div id="player-container">
          <div id="player"></div>
          <div id="player-controls">
            <button id="delete-button">Delete</button>
            <br>
          </div>
        </div>
  </div>
</div>


<!-- Application JavaScript -->

{#script for player #}
<script>
  let player = document.getElementById('player');
  const deleteButton = document.getElementById('delete-button');
  deleteButton.addEventListener('click', () => {
    // Handle delete functionality
  });
  downloadButton.addEventListener('click', () => {
    // Handle download functionality
  });
</script>
{% endblock body %}