{% extends 'library_base.html' %}
{% load static %}
<!-- library.html -->
{% block css %}
<style>
  body {
    background-color: #dfdfdf;
  }

  .lower-nav h1 {
    color: white;
  }
</style>
{% endblock css %}

{% block title %}
<title>Library</title>
{% endblock title %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <!-- Content for div 1 -->
      <div class="bg-info p-3">

          <!-- YouTube IPlayer -->
            <div class="player" id="youtube_player">
               <iframe src="https://www.youtube.com/embed/Iv8mg2iFWYA" frameborder="0" allowfullscreen></iframe>
            </div>

          <!-- Title -->
      <div>
          <h1 class="fs-4 fw-bold" >About DoWell UX Living Lab</h1>
          <!-- Media Object -->

          <div class="media   align-items-center">

{#            <img class="img-profile media-figure" src="https://yt3.ggpht.com/-UbUyULJMBoM/AAAAAAAAAAI/AAAAAAAAAAA/LGD8KPvBEdc/s88-c-k-no/photo.jpg" alt="">#}
            <img class="img-profile media-figure" src="https://yt3.ggpht.com/ytc/APkrFKZXQA_NYMO_UZLLp282-49JTY7TgJ7iajU-bCbH=s88-c-k-c0x00ffffff-no-rj" alt="">

            <div class="media-body py-2">

              <h3 class="fs-5" id="channelName">DoWell Research</h3>

              <div class="subscribe">
                <span class="subscribe-count">9.7K...</span> &nbsp;&nbsp;
                <span class="subscribe-count">186 <br>subscribers</span> &nbsp;&nbsp;
                  <h6 id="playingvideo_privacy">Playlist : General</h6>
              </div>

            </div>

            <div class=" p-2 d-flex">


                <button type="button" class="btn btn-light rounded-pill me-2">Share</button>
            </div>
          </div>

       </div>

      </div>
    </div>
      <!-- Aside -->
    <div class="col-lg-3">
      <aside class="aside bg-style">

{#           <div  id="playlistPrivacy_Status">Playlist Privacy </div>#}
           <div>
               <div  id="playlisttitle">Playlist Title: </div>
{#              <h5>Autoplay</h5>#}
{#               <div class="fw-bold" id="channelName">Channel :</div>#}
           </div>
           <div id="videosContainer" class="container_scroll_bar"></div>
          <button id="MorevideosButton" class="btn-flat align-center"><span><strong>SHOW MORE</strong></span></button>


          <div id="playlistDetailsContainer">

            <!-- Playlist details will be displayed here -->
          </div>

        <div class="button-tags">
{#            <button type="button" class="btn btn-dark">All</button>#}
{#            <button type="button" class="btn btn-light">Listenable</button>#}
{#            <button type="button" class="btn btn-light">Recently uploaded</button>#}
{#            <button type="button" class="btn btn-light">Watch</button>#}
            <h2> All Playlists</h2>
          </div>

            {# show all playlist here #}
          <div id="playlistContainer" class="container_scroll_bar"></div>

          <button id="showMoreButton" class="btn-flat align-center"><span><strong>SHOW MORE</strong></span></button>
        </aside>

    </div>

  </div>

</div>

    <script src="{% static '/js/library.js' %}"></script>
    <script> const csrfToken = "{{ csrf_token }}"; </script>

{% endblock body %}