<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <h1 id="main">Task ID Websocket Development</h1>
    <p>
        <button class="btn btn-success" onclick="createAllsockets()">Test Socket</button>
    </p>
    <p>
        <button class="btn btn-success" onclick="sendSocketMessage()">Send Message</button>
    </p>
    <script>
        let globalSocket=null;
        let receivedTaskID = null;
        let taskIDwasRreceived = false;
        async function createTaskidWebsocket() {
            number_one = document.getElementById('main')
            let wsStart = 'ws://'

            if (window.location.protocol == 'https:') {
                wsStart = 'wss://'
            } else {
                wsStart = 'ws://'
            }
            //var endpoint = wsStart + window.location.host + window.location.pathname
            //var endpoint = wsStart + window.location.host + "/ws/app/"
            //var endpoint = "wss://immense-sands-53205.herokuapp.com/ws/app/"
            //var endpoint = "ws://206.72.196.211:80/ws/app/"
            //var endpoint = wsStart + window.location.host + "/ws/webcamscreen/"
            var endpoint = wsStart + window.location.host + "/ws/taskid/"
            var socket = new WebSocket(endpoint)
            globalSocket = socket;
            console.log(endpoint)

            socket.onopen = function (e) {
                console.log('Task ID websocket open', e)
            }


            socket.onmessage = function (e) {
                //console.log('message', e)
                let receivedMsg = e.data;
                console.log("Received data: ", receivedMsg)
                let task_json_infor = JSON.parse(receivedMsg);

                if("message" in task_json_infor.payload){
                    receivedTaskID = task_json_infor.payload.message.task_id;
                    taskIDwasRreceived = true;
                    console.log("Received Task ID: ", receivedTaskID);
                    alert("Received Task ID: "+receivedTaskID);
                }
            }

            socket.onerror = function (evt) {
                console.error("Websocket creation error: ", evt);
                taskidWebsocketReconnection();
                //throw new Error("Websocket creation error: "+evt);
                // ToDo: Tell user, stop the recording.
            };
        }

        async function createAllsockets() {
            // ToDO; Check which recording type is enabled first
            createTaskidWebsocket()
                .catch((err) => {
                    console.error("Failed to create websockets: ", err)
                });
        }

        async function sendSocketMessage(){
            let msg = JSON.stringify({'message':'Testing group notification'});
            globalSocket.send(msg);
        }

        async function taskidWebsocketReconnection(){
            console.log("Retrying connection to task id websocket in 5 Seconds")
            setTimeout(createTaskidWebsocket(), 5000);
        }
    </script>
</body>

</html>