<!DOCTYPE html>
<html>

<body>

    <h1>Click on the links to view the recorded files</h1>

    {% if webcam_link %}
    <p>Webcam File URL: <a href="{{ webcam_link }}" target="_blank">Mega drive webcam file</a></p>
    {% endif %}

    {% if screen_link %}
    <p>Screen File URL: <a href="{{ screen_link }}" target="_blank">Mega drive screen file</a></p>
    {% endif %}

    {% if merged_link %}
    <p>Merged File URL: <a href="{{ merged_link }}" target="_blank">Mega drive merged file</a></p>
    {% endif %}

</body>

</html>