{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block body %}
<div class="form-wrapper">
  <div class="form-container">
    <div class="side-heading">
        <h2 class="side-text">{% trans "Sign In" %}</h2>
    </div>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}" class='signup-url'>sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers signup-url">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}" class='signup-url'>sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="">
          {% if form.login.errors %}
            <span class="messages-error">{{ form.login.errors }}</span>
            {% endif %}
            {{ form.login }}
          </div>
          <div style='margin-top:10px'>
          {% if form.password.errors %}
            <span class="messages-error">{{ form.password.errors }}</span>
            {% endif %}
            {{ form.password }}
          </div>
      {% comment %} {{ form.as_p }} {% endcomment %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class=" save-btn" type="submit">{% trans "Sign In" %}</button>
      <a class="signup-url normal-margin" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>

{% endblock body %}
