{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block body %}
<div class="form-wrapper">
    <div class="section-center form-container">
        <div class="side-heading">
            <h2 class="side-text">{% trans "Set Password" %}</h2>
        </div>


        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <button class=" save-btn" type="submit" name="action">{% trans "Set Password" %}</button>
            {% comment %} <input type="submit" name="action" value="{% trans 'Set Password' %}"/> {% endcomment %}
        </form>
    </div>
</div>

{% endblock %}
