{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<div class="form-wrapper">
    <div class="section-center form-container">
        <div class="side-heading">
            <h2 class="side-text">{% trans "Change Password" %}</h2>
        </div>


        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="save-btn">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
