{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}
<title>Live UX Storyboard</title>
{% endblock title %}
{% block body %}
{% load socialaccount %}
{% include "lowernav.html" %} --


{% include "youtube_copyright.html" %}
{% include 'modals.html' %}
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- Video Stream Merger JavaScript -->
<script src="{% static '/js/dist/video-stream-merger.js' %}"></script>
<script src="{% static '/js/index.js' %}"></script>
<!-- {% endblock body %} -->