/* .modal {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.modal-content {
    text-align: center;
}

#status {
    font-weight: bold;
}

#time {
    font-size: 1.2em;
} */
