@charset "utf-8";

.centered {
    width: 60vw;
    height: 56vh;
}
    
.btn:focus {
    outline: none;
    box-shadow: none;
}

.modal-header {
    background: #F7941E;
    color: #fff;
}

.required:after {
    content: "*";
    color: red;
}