/* @media screen and (max-width: 530px) {
  .authenticated-user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
 
} */

/* Show the menu icon on small screens */
@media screen and (max-width: 768px) {

  /* 768px) { */
  .hide-desktop {
    display: block;
  }

  .mobile {
    display: block;
  }

  .small-screen-nav {
    display: flex;
  }

  /* ================================== */

  /* Mobile menu styles */
  #menu-toggle {
    display: block;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    color: #333;
    background-color: #ecb5b5;
    border: 1px solid #333;
    border-radius: 15px;
    border-style: none;
  }

  .mobile-menu {
    display: block;
    flex-direction: column;
  }

  /* Show/hide mobile menu on menu icon click */
  /* #menu-toggle:checked+#menu-icon+.mobile-menu {
      display: flex;
    } */

  .mobile-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #eeebeb;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    font-family: system-ui;
  }

  /* ====================================== */
  .mobile-menu-display {
    display: flex;
  }

  .mobile-menu {
    position: absolute;
    top: 55px;
    right: 0px;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 300px;
    float: right;
    padding: 20px;
    background-color: var(--light-primary_clr);
    border-radius: 8px;
    margin: 5px 5px 0px 0px;
    z-index: 999;
  }

  #navigation-bar {
    background-color: var(--primary_clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
  }

  .upper-nav {
    display: none;
  }

  #navigation-bar .upper-nav a {
    display: none;
  }

  #navigation-bar .upper-nav .active {
    display: inline-block;
  }

  .miniscreen-username {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    height: auto;
  }

  .miniscreen-log-in-out {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  hr {
    width: 100%;
    margin: 3px;
    border: 1px solid #d7b5b5;
  }

  .lower-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--light-primary_clr);
    padding: 0;
    margin: 3px;
    text-align: center;
  }

  .authenticated-user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  #test-name {
    outline: 1px solid #fa3d4a;
    width: 99%;
  }

  .lower-nav-item {
    margin: 0.5rem 0.5rem;
    width: 95%;
  }
}